/* || RESET */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{

}

input{
    display: block;
    padding: 0.4rem;
}

.container{
    min-width: 300px;
    max-width: 500px;
    background-color: rgb(255, 232, 197);
    overflow-wrap:break-word;
    padding: 1rem;
    margin: 1px 0 0 1px;
    border: 1px solid #5f9341;
}

.container h2{
    margin-bottom: 10px;
    margin-left: 3px;
    text-decoration: underline;
    text-underline-offset: 5px;
    color: #356b16;
}

#input-el{
    border: 1.5px solid #5f9341;
    border-radius: 10px;
    min-width: 250px;
}

.btn{
    margin: 1rem 0;
    padding: 0.3rem;
    background-color: #5f9341;
    border: none;
    color: whitesmoke;
    border-radius: 5px;
}

.btn:active{
    background-color: gray;
    border: 1px solid black;
}

#del-btn:active{
    background-color: darkred;
    border: 1px solid black;
}

#ul-el{
    list-style: none;
}

#ul-el li{
    margin: 5px 0;
    white-space: nowrap;

}

#ul-el a {
    color: #5f9341;
    font-size: 1.1rem;
}


